{{#if listVisible}}
  <div class='list'>
    <img src="https://media.giphy.com/media/UMvAwWfZo8zW8/giphy.gif">
  </div>
{{/if}}

<div class='buttons'>
  {{d-button label="grumpy_list.show" action="showList" icon="eye" id='show-list'}}
</div>
